<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-paper-item-heading" jhiTranslate="gatewayApp.referenceManagementContextPaperItem.home.createOrEditLabel">Create or edit a Paper Item</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.referenceManagementContextPaperItem.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.referenceManagementContextPaperItem.authors" for="field_authors">Authors</label>
                    <input type="text" class="form-control" name="authors" id="field_authors"
                           formControlName="authors"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.referenceManagementContextPaperItem.venue" for="field_venue">Venue</label>
                    <input type="text" class="form-control" name="venue" id="field_venue"
                           formControlName="venue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.referenceManagementContextPaperItem.paperitemId" for="field_paperitemId">Paperitem Id</label>
                    <select class="form-control" id="field_paperitemId" name="paperitemId" formControlName="paperitemIdId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paperItemIdOption.id" *ngFor="let paperItemIdOption of paperitemids; trackBy: trackById">{{ paperItemIdOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.referenceManagementContextPaperItem.paperCollection" for="field_paperCollection">Paper Collection</label>
                    <select class="form-control" id="field_paperCollection" name="paperCollection" formControlName="paperCollectionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paperCollectionOption.id" *ngFor="let paperCollectionOption of papercollections; trackBy: trackById">{{ paperCollectionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
